In [44]:
import pandas as pd

In [57]:
people  = {
    "first" : ['Corey','Jane','John'],
    "last" :  ['Schafer','Jennie','Johnny'],
    "email" : ['corey123@gmail.com','jane@hotmail.com','johnybhaiya@gmail.com'],
    "income" :  [2000,3000,1000],
    "nation" : ['USA','Russia','Brazil']
    
}

In [58]:
df = pd.DataFrame(people)

In [59]:
df

   first     last                  email  income  nation
0  Corey  Schafer     corey123@gmail.com    2000     USA
1   Jane   Jennie       jane@hotmail.com    3000  Russia
2   John   Johnny  johnybhaiya@gmail.com    1000  Brazil

In [60]:
filt= df['last']  == 'Jennie'

In [61]:
#df[filt]
#OR
df[df['last']  == 'Jennie']

  first    last             email  income  nation
1  Jane  Jennie  jane@hotmail.com    3000  Russia

In [62]:
#df.loc[filt]
df.loc[filt,'email'] # to access only email field at selected query

1    jane@hotmail.com
Name: email, dtype: object

In [63]:
filt2 = (df['last'] == 'Jennie') & (df['first'] =='Jane')

In [64]:
filt2

0    False
1     True
2    False
dtype: bool

In [65]:
filt3 = (df['last'] == 'Jennie') | (df['first'] =='Jane')

In [66]:
#filt3
df.loc[filt3,'email']

1    jane@hotmail.com
Name: email, dtype: object

In [67]:
reasonable_income = df['income'] > 1000

In [43]:
df.loc[reasonable_income , 'email']

0    corey123@gmail.com
1      jane@hotmail.com
Name: email, dtype: object

In [68]:
countries = ['US','Brazil','Russia']

In [69]:
filt=df['nation'].isin(countries)

In [70]:
df.loc[filt,'nation']

1    Russia
2    Brazil
Name: nation, dtype: object