In [76]:
import pandas as pd

In [77]:
people  = {
    "first" : ['Corey','Jane','John'],
    "last" :  ['Schafer','Jennie','Johnny'],
    "email" : ['corey123@gmail.com','jane@hotmail.com','johnybhaiya@gmail.com']
    
}

In [78]:
df  = pd.DataFrame(people)

In [79]:
#df['email']
#DOT NOTATIONS
df.email

0       corey123@gmail.com
1         jane@hotmail.com
2    johnybhaiya@gmail.com
Name: email, dtype: object

In [80]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [81]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [82]:
df.set_index('email',inplace=True) #inplace is used to save new indexing/changes that is email column here.

In [83]:
df

                       first     last
email
corey123@gmail.com     Corey  Schafer
jane@hotmail.com        Jane   Jennie
johnybhaiya@gmail.com   John   Johnny

In [84]:
df.loc['corey123@gmail.com']

first      Corey
last     Schafer
Name: corey123@gmail.com, dtype: object

In [85]:
df.loc['corey123@gmail.com','first']
#df.loc['corey123@gmail.com','last']

'Corey'

In [86]:
df.iloc[0]

first      Corey
last     Schafer
Name: corey123@gmail.com, dtype: object

In [87]:
df.iloc[0,0]
#df.iloc[0,1]

'Corey'

In [88]:
df.reset_index(inplace=True)

In [74]:
df

                   email  first     last
0     corey123@gmail.com  Corey  Schafer
1       jane@hotmail.com   Jane   Jennie
2  johnybhaiya@gmail.com   John   Johnny

In [92]:
df.sort_index()

                   email  first     last
0     corey123@gmail.com  Corey  Schafer
1       jane@hotmail.com   Jane   Jennie
2  johnybhaiya@gmail.com   John   Johnny