In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('ETH_1V.csv')

In [4]:
df

                 Date  Symbol    Open    High     Low   Close      Volume
0    2020-03-13 08-PM  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1    2020-03-13 07-PM  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2    2020-03-13 06-PM  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3    2020-03-13 05-PM  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4    2020-03-13 04-PM  ETHUSD  124.85  129.51  120.17  124.08  4461424.71
..                ...     ...     ...     ...     ...     ...         ...
470  2020-02-23 06-AM  ETHUSD  269.58  272.77  269.29  271.94  2297885.14
471  2020-02-23 05-AM  ETHUSD  266.79  270.45  266.53  269.58  1574858.57
472  2020-02-23 04-AM  ETHUSD  266.08  269.30  266.08  266.79  3297506.96
473  2020-02-23 03-AM  ETHUSD  263.69  267.00  263.31  266.08  1465531.73
474  2020-02-23 02-AM  ETHUSD  262.43  263.77  262.12  263.69   344619.96

[475 rows x 7 columns]

In [5]:
df.head()

               Date  Symbol    Open    High     Low   Close      Volume
0  2020-03-13 08-PM  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1  2020-03-13 07-PM  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2  2020-03-13 06-PM  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3  2020-03-13 05-PM  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4  2020-03-13 04-PM  ETHUSD  124.85  129.51  120.17  124.08  4461424.71

In [6]:
df.shape

(475, 7)

In [7]:
#df.loc[0,'Date']
#df.loc[[0,1],'Date']
df.loc[0,'Date'].day_name()

AttributeError: 'str' object has no attribute 'day_name'

In [14]:
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d %I-%p')

In [15]:
df['Date'].head()

0   2020-03-13 20:00:00
1   2020-03-13 19:00:00
2   2020-03-13 18:00:00
3   2020-03-13 17:00:00
4   2020-03-13 16:00:00
Name: Date, dtype: datetime64[ns]

In [16]:
df.dtypes

Date      datetime64[ns]
Symbol            object
Open             float64
High             float64
Low              float64
Close            float64
Volume           float64
dtype: object

In [17]:
df.loc[0,'Date'].day_name()

'Friday'

In [21]:
df.loc[0,'Date'].time()

datetime.time(20, 0)