In [1]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [7]:
#df.sort_values(by='last',inplace=True)
df.sort_values(by='last',inplace=True,ascending=False)

In [8]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [12]:
#df.sort_values(by=['first','last'],inplace=True,ascending=True)
df.sort_values(by=['first','last'],inplace=True,ascending=[True,False])

In [13]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [15]:
df['last']= df['last'].sort_values()

In [16]:
df['last']

0    Schafer
1        Doe
2        Doe
Name: last, dtype: object