In [57]:
import pandas as pd

In [98]:
people  = {
    "first" : ['Corey','Jane','John'],
    "last" :  ['Schafer','Jennie','Johnny'],
    "email" : ['corey123@gmail.com','jane@hotmail.com','johnybhaiya@gmail.com'],
    "income" :  [2000,3000,1000],
    "nation" : ['USA','Russia','Brazil']
    
}

In [99]:
df = pd.DataFrame(people)

In [100]:
df

   first     last                  email  income  nation
0  Corey  Schafer     corey123@gmail.com    2000     USA
1   Jane   Jennie       jane@hotmail.com    3000  Russia
2   John   Johnny  johnybhaiya@gmail.com    1000  Brazil

In [101]:
df.columns

Index(['first', 'last', 'email', 'income', 'nation'], dtype='object')

In [102]:
df.columns = [x.lower() for x in df.columns]

In [103]:
df.rename(columns = {'first' : 'first_name', 'last' : 'last_name'},inplace=True)

In [104]:
df

  first_name last_name                  email  income  nation
0      Corey   Schafer     corey123@gmail.com    2000     USA
1       Jane    Jennie       jane@hotmail.com    3000  Russia
2       John    Johnny  johnybhaiya@gmail.com    1000  Brazil

In [105]:
df.loc[2] = ['Coreyy','Schaferr','xyz@gmail.com',110,'Brazil'] #not a good practice cuz then we have to change/write value of everg column even tho we don't wanna alter all column

In [106]:
df

  first_name last_name               email  income  nation
0      Corey   Schafer  corey123@gmail.com    2000     USA
1       Jane    Jennie    jane@hotmail.com    3000  Russia
2     Coreyy  Schaferr       xyz@gmail.com     110  Brazil

In [107]:
df.loc[2, ['email','first_name']] = ['alter','altered']

In [108]:
df.loc[2][['first_name','email']]

first_name    altered
email           alter
Name: 2, dtype: object

In [1]:
filt =  df['email']  == 'xyz@gmail.com'
df.loc[2,'last'] = 'a'

NameError: name 'df' is not defined

In [110]:
df

  first_name last_name               email  income  nation last
0      Corey   Schafer  corey123@gmail.com    2000     USA  NaN
1       Jane    Jennie    jane@hotmail.com    3000  Russia  NaN
2    altered  Schaferr               alter     110  Brazil    a

In [111]:
filt = (df['email'] == 'corey123@gmail.com')
#df[filt]
#df.loc[filt,'last_name']
df.loc[filt,'last_name'] ='ohh'
df

  first_name last_name               email  income  nation last
0      Corey       ohh  corey123@gmail.com    2000     USA  NaN
1       Jane    Jennie    jane@hotmail.com    3000  Russia  NaN
2    altered  Schaferr               alter     110  Brazil    a

In [112]:
df['email']= df['email'].str.lower()

In [113]:
df['email'].apply(len)

0    18
1    16
2     5
Name: email, dtype: int64

In [114]:
def update_email(email):
    return email.upper()

In [115]:
df['email'].apply(update_email)

0    COREY123@GMAIL.COM
1      JANE@HOTMAIL.COM
2                 ALTER
Name: email, dtype: object

In [116]:
df['email']= df['email'].apply(update_email)

In [117]:
df['email']

0    COREY123@GMAIL.COM
1      JANE@HOTMAIL.COM
2                 ALTER
Name: email, dtype: object

In [118]:
#df.apply(len)
df.apply(len,axis=0)
df.apply(len,axis=1)

0    6
1    6
2    6
dtype: int64

In [119]:
df.apply(lambda x: x.min())

TypeError: '<=' not supported between instances of 'float' and 'str'

In [120]:
#df.applymap(len)
df.applymap(str.lower)

TypeError: descriptor 'lower' for 'str' objects doesn't apply to a 'int' object

In [121]:
df.rename(columns= {'income' : 'kamai'}, inplace=True)

In [122]:
df

  first_name last_name               email  kamai  nation last
0      Corey       ohh  COREY123@GMAIL.COM   2000     USA  NaN
1       Jane    Jennie    JANE@HOTMAIL.COM   3000  Russia  NaN
2    altered  Schaferr               ALTER    110  Brazil    a

In [123]:
df['first_name']

0      Corey
1       Jane
2    altered
Name: first_name, dtype: object

In [124]:
df['first_name']= df['first_name'].map({'Corey':'Chris','Jane':'Jake'})

In [125]:
df['first_name']

0    Chris
1     Jake
2      NaN
Name: first_name, dtype: object

In [127]:
df['kamai']= df['kamai'].map({2000:20000 , 3000 : 30000})

0    20000
1    30000
2      110
Name: kamai, dtype: int64