In [14]:
import pandas as pd

In [15]:
people  = {
    "first" : ['Corey','Jane','John'],
    "last" :  ['Schafer','Jennie','Johnny'],
    "email" : ['corey123@gmail.com','jane@hotmail.com','johnybhaiya@gmail.com']
    
}

In [16]:
df  = pd.DataFrame(people)

In [20]:
#df['email']
#DOT NOTATIONS
df.email

0       corey123@gmail.com
1         jane@hotmail.com
2    johnybhaiya@gmail.com
Name: email, dtype: object

In [21]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [22]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [25]:
df.set_index('email')

In [26]:
df

                       first     last
email
corey123@gmail.com     Corey  Schafer
jane@hotmail.com        Jane   Jennie
johnybhaiya@gmail.com   John   Johnny